:root{
    --Text: aliceblue;
    --BlueText: rgb(80, 121, 255);
    --Title: rgb(64, 131, 255);
    --NavbarBG: rgb(34, 33, 43);
    --NavbarHL: rgb(53, 53, 65);
    --ContentBG: rgb(45, 45, 54);
    
}