@import url('Colors.css');

#headImg{
    margin-top: -500px;
    width: 100%;
    position: absolute;
    z-index: -1000;
    opacity: 85%;
}

#headText {
    position: absolute;
    float:left;

    top: 5%;
    text-align: center;
    width: 100%;

    color: var(--Text);
    -webkit-text-stroke: 4px black;
    
    font-size: 120px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

  }

.profPic{
    position: relative;
    border-radius: 100%;
    max-width: 10%;
    max-height: 10%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: -120px;
    display: block;

    z-index: 10000;
    
}




