.psuedoBody{
  overflow:hidden;
}

.square{
  top: 5vh;
  width: 100px;
  height: 100px;
  background-color: chartreuse;
  z-index: 1000;
  position: fixed;
}

.image{
  max-height: 100vh;
  
  z-index: -1000;
  position: fixed;
}

#right{
  right: 1%;
}

#left{
  left:0px;
}

.arrow{
  position: fixed;
  top: 4%;
  width: 2%;
  background-color: #f0f8ff70;
  padding: 1%;
  border-radius: 50%;
}

#prev{
  right: 20%;
}

#next{
  transform: scaleX(-1);
  left: 20%;
}

#down{
  transform:rotate(90deg);
}

#up{
  transform:rotate(-90deg);
}

#bodyText{
  position: fixed;
  background-color: #f0f8ff70;
  width:40%;
  min-height: 87vh;
  padding: 2%;
  left: 28%;
  top: 2vh;
  border-radius: 20px;
}