#phone{
    position: fixed;

    margin:0px;
    height: 130vh;
    width: 60vw;
    z-index: 0;
    top:2vh; 
    
    left: 0;
    transform: translate(54%,0);

}



.phone-margin{
    text-align: center;
    position: fixed;
    overflow-y: scroll;
    color: #eee;
    
    height: 83vh;
    width: 45vh;

    top: 8vh;
    left: 50vw;

    transform: translate(-50%,0);

    z-index: 20;
}


::-webkit-scrollbar{
    width: 0px;
}
.phone-margin{
    scrollbar-width: none;
}

.pseudoBody{
    position: inherit;
    width: inherit;
    height: 100%;
}